body {
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin-top: 0px;
}

figure {
    margin: 0px;
}

a {
    text-decoration: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.row {
    display: flex;
}

.justify-space-between {
    justify-content: space-between;
}

.w-100 {
    width: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

@media(max-width:1200px) {
    .container {
        width: 960px;
    }
}

@media(max-width:992px) {
    .container {
        width: 760px;
    }
}

@media(max-width:768px) {
    .container {
        width: 100%;
        padding: 0px 15px;
    }
}

#header {
    background-color: #22262A;
    position: fixed;
    width: 100%;
    z-index: 10000;
    top: 0px;
}

#header a {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
}

#header .toprow a {
    display: block;
    height: 52px;
    padding: 10px 15px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

#header .toprow {
    border-bottom: 1px solid #fff;
}

#header span {
    margin-left: 8px;
}

.sign-in a {
    fill: #fff;
}

#header .sign-in {
    width: 10%;
    text-align: center;
}

#header .sign-in .icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

#header .logo {
    width: 20%;
    margin-left: 10%;
    text-align: center;
}

#header .logo a {
    border: none;
    padding: 0px;
}

#header .user_links {
    width: 20%;
}

#header .user_links span {
    display: inline-block;
    vertical-align: middle;
}

#header .user_links .icon {
    width: 30px;
    height: 25px;
}

#header .user_links .col-1 {
    width: 80%;
}

#header .user_links .col-2 {
    width: 20%;
}

#header .user_links .search a {
    border-left: none;
}

#header .user_links .search i {
    font-size: 20px;
}

#header .toprow a:hover {
    background-color: #151515;
}

@media(max-width:1200px) {
    #header .user_links {
        width: 23%;
    }
}

@media(max-width:992px) {
    #header .sign-in {
        width: 19%;
    }
    #header .user_links {
        width: 33%;
    }
}

#main-navigation {
    text-align: center;
}

#main-navigation ul {
    display: flex;
    justify-content: center;
}

#main-navigation ul li a {
    display: block;
    padding: 12px 20px;
}

#main-navigation .dropdown {
    position: absolute;
    width: 100%;
    background-color: #fff;
    left: 0px;
    z-index: 1;
    padding-bottom: 20px;
    transform: scale(1, 0);
    transform-origin: top;
    transition: 1s;
}

#main-navigation .dropdown a {
    color: #000;
}

#main-navigation .dropdown .row {
    justify-content: center;
}

#main-navigation .dropdown img {
    width: 100%;
}

#main-navigation .dropdown .col {
    width: 12%;
    text-align: left;
    margin-left: 20px;
}

#main-navigation .dropdown .row a {
    padding: 0px;
}

#main-navigation ul li:hover .dropdown {
    transform: scale(1, 1);
}

#banner {
    width: 500%;
    margin-top: 90px;
    display: flex;
    animation: slider 20s infinite linear;
    margin-bottom: 80px;
}

#banner .slide {
    width: 20%;
}

#banner img {
    width: 100%;
    max-height: 550px;
}

@keyframes slider {
    0%,
    18% {
        transform: translateX(0%);
    }
    20%,
    38% {
        transform: translateX(-20%);
    }
    40%,
    58% {
        transform: translateX(-40%);
    }
    60%,
    78% {
        transform: translateX(-60%);
    }
    80%,
    98% {
        transform: translateX(-80%);
    }
    100% {
        transform: translateX(0%);
    }
}

#section_1 ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#section_1 ul li {
    width: 15%;
}

@media(max-width:768px) {
    #section_1 ul li {
        width: 30%;
    }
}

@media(max-width:480px) {
    #section_1 ul li {
        width: 48%;
    }
}

#section_2 {
    margin-bottom: 100px;
}

#section_2 ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#section_2 ul li {
    width: 15%;
}

#section_2 ul li a {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#section_2 .card_2 {
    position: relative;
}

#section_2 .card_2 figure {
    overflow: hidden;
}

#section_2 .card_2:after {
    content: "";
    position: absolute;
    bottom: -11px;
    right: -10px;
    border: 10px solid #fff;
    transform: rotate(45deg);
}

#section_2 .card_2 div {
    height: 100px;
    padding: 10px;
    background-color: #000;
    position: relative;
}

#section_2 .card_2 img {
    transition: 0.5s;
}

#section_2 .card_2:hover img {
    transform: scale(1.1, 1.2);
}

#section_2 .card_2 h4 {
    position: relative;
    z-index: 100;
}

#section_2 .card_2 div:before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0px;
    width: 100%;
    height: 4px;
    background-color: red;
    transition: 0.5s;
    /* z-index: 100; */
}

#section_2 .card_2:hover div:before {
    height: 104%;
}

@media(max-width:768px) {
    #section_2 ul li {
        width: 30%;
        margin-bottom: 20px;
    }
}

@media(max-width:480px) {
    #section_2 ul li {
        width: 48%;
        margin-bottom: 20px;
    }
}

#footer {
    background-color: #151515;
    padding: 30px 0px;
}

#footer .row {
    justify-content: space-around;
}

#footer a,
#footer p,
#footer h5 {
    color: #fff;
}

#footer .col-1 {
    width: 40%;
}

#footer .col-1 .col-11 {
    height: 90px;
}

#footer .col-2 {
    width: 30%;
}

#footer .col-3 {
    width: 25%;
}