#cube {
    height: 300px;
    width: 300px;
    position: relative;
    margin: 200px auto 0px;
    transition: 5s;
    /* perspective: 400px; */
    transform-style: preserve-3d;
    animation: cube 5s infinite linear;
}

@keyframes cube {
    0% {
        transform: rotate3d(0, 0, 0, 0deg);
    }
    100% {
        transform: rotate3d(1, 1, 1, 360deg);
    }
}


/* #cube:hover {
    transform: rotateY(360deg);
} */

#cube div {
    height: inherit;
    width: inherit;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    border: 2px solid red;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}

#left {
    transform-origin: left;
    transform: rotateY(90deg);
}

#right {
    transform-origin: right;
    transform: rotateY(-90deg);
}

#top {
    transform-origin: top;
    transform: rotateX(-90deg);
}

#bottom {
    transform-origin: bottom;
    transform: rotateX(90deg);
}

#back {
    transform: translateZ(-300px);
}