body {
    margin: 0px;
    overflow: hidden;
}

#container {
    width: 20000px;
    height: 630px;
    background-image: url("images/citytiled1.png");
    background-size: auto 100%;
    transition: 1s;
}

#hulkImg {
    position: absolute;
    top: -100%;
    left: 0%;
}

#hulkImg.loadHulk {
    animation: loadHulk 1s;
    animation-fill-mode: forwards;
}

@keyframes loadHulk {
    0% {
        top: -100%;
        left: 0%;
    }
    100% {
        top: 65%;
        left: 45%;
    }
}