@font-face {
    font-family: 'proxima_novaregular';
    src: url('../fonts/proxima-webfont.woff2') format('woff2'), url('../fonts/proxima-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}